name: Actions Release

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x]
        action: [
            can-i-deploy,
            create-version-tag,
            publish-pact-files,
            publish-provider-contract,
            record-deployment,
            record-release,
            create-or-update-version,
          ]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Use Node.js 16.x for ${{ matrix.action }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.x
          cache: "npm"
          cache-dependency-path: ${{ matrix.action }}/package-lock.json
      - run: npm ci
        working-directory: ${{ matrix.action }}
      - run: npm run test:unit
        name: test ${{ matrix.action }}
        working-directory: ${{ matrix.action }}

  release:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: K-Phoen/semver-release-action@master
        with:
          release_branch: main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
